.container{
    width: 100%;
    margin-top: 70px;
}
.serviceHead{
    background-color: var(--section-bg);
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.serviceHead h1{
    color: white;
    font-size: 50px;
}
.serviceHead .headLinks{
    display: flex;
    align-items: center;
}
.container .p{
    padding: 0 40px 5% 5% ;
}

@media (max-width:850px){
  .portfolioConHead h1{
    color: var(--black-color);
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  } 
}