
.containerCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(50px);
  gap: 20px;
}
.observerCatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: 1s ease-in-out;
  border: 1px solid rgb(223, 215, 215);
  border-radius: 9px;
  margin-bottom: 40px;
}
.imageCon {
  width: 300px;
  position: relative;
  height: 200px;
  margin: 20px;
}
.containerCart h3,
.observerCatch h3 {
  color: var(--black-color);
}
.containerCart a,
.observerCatch a {
  color: blue;
}

.linkP{
  font-weight: bolder;
}
