.review {
  padding: 50px 5%;
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.review h1 {
  color: var(--menu-color);
}

.review h3, .review p {
  color: var(--menu-color);
}

.review_cart {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  max-width: 700px;
  box-shadow: 0 4px 15px var(--menu-color);
  border-radius: 12px;
  background-color: var(--white-color);
  position: relative;
}

.review_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 50px 100px;
  text-align: center;
}

.img_Con_Con {
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.img_Con {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ddd;
}

.review_slider h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: var(--menu-color);
}

.review_slider p {
  font-size: 1rem;
  color: var(--menu-color);
  line-height: 1.5;
  margin-bottom: 20px;
}

.review_cart :global(.swiper-button-next::after),
.review_cart :global(.swiper-button-prev::after) {
  color: #19d8e6 !important;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.review_cart :global(.swiper-button-next) {
  right: 1px;
}

.review_cart :global(.swiper-button-prev) {
  left: 1px;
}

.review_cart :global(.swiper-button-next:hover),
.review_cart :global(.swiper-button-prev:hover) {
  color: #45ec1b !important;
}

@media (max-width: 670px) {
  .review_cart {
    min-width: 300px;
    max-width: 300px;
  }

  .review_slider {
    padding: 30px;
    text-align: center;
  }

  .review_slider p {
    font-size: 14px;
  }
}
