.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    margin-bottom: 30px;
    gap: 20px;
  }
  .textCon{
    flex-basis: 45%;
    min-width: 350px;
  }
  .textCon h4{
    font-weight: 400;
    color: var(--heading-color);
  }
  .textCon h2{
    color: var(--heading-color);
    font-size: 20px;
  }
  .textCon h3{
    font-weight: 400;
    color: var(--heading-color);
  }
  .textCon h1{
    font-size: 40px;
    margin: 20px 0;
    color: var(--black-color);
  }
  .textCon p{
    line-height: 1.8;
  }
  .more_details{
    display: flex;
    gap: 20px;
    font-size: 15px;
    margin: 20px 0;
    color: var(--heading-color);
    flex-wrap: wrap;
    text-align: start;
  }
  .more_details div{
    min-width: 250px;
    max-width: 250px;
  }
  .textCon .linkBtn{
    background-color: var(--heading-color);
    border: none;
    padding: 20px 40px;
    color: var(--white);
    font-weight: bold;
    transition: .5s ease-out;
    cursor: pointer;
    margin: 15px 0;
    text-decoration: none;
  }
  .textCon .linkBtn:hover{
    box-shadow: 0 0 10px var(--heading-color);
  }
  .imageB4 {
    flex-basis: 45%;
    width: 70%;
    height: 400px;
    position: relative;
    background: url("/about.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .animation{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    display: flex;
    gap: 20px;
    font-size: 50px;
  }
  .animation .icon{
    color: white;
    animation: rotation 10s infinite linear;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    cursor: pointer;
  }
  .socialMedia{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -120px;
    gap: 20px;
    font-size: 50px;
    text-align: center;
  }
  .socialMedia h4{
    font-size: 25px;
    color: var(--heading-color);
  }
  .socialMedia .links{
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .iconLink{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
  }

  @keyframes rotation {
    0%{
      transform: rotateX(0deg);
    }
    25%{
      transform: rotateY(180deg);
    }
    50%{
      transform: rotateY(180deg);
    }

    75%{
      transform: rotateX(180deg);
    }
    100%{
      transform: rotateX(360deg);
    }
  }

  @media (max-width:850px){
    .textCon{
      flex-basis: 100%;
      min-width: 300px;
      margin-bottom: 50px;
      text-align: center;
    }
    .imageB4{
      flex-basis: 100%;
      width: 70%;
      height: 400px;
      position: relative;
      margin: auto;
    }
    .textCon h1{
      font-size: 40px;
      margin: 20px 0;
      color: var(--black-color);
      font-size: 30px;
    }
  }
  @media (max-width:850px){
    .more_details{
      display: flex;
      gap: 20px;
      font-size: 15px;
      margin: 20px 0;
      color: var(--heading-color);
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
    .more_details div{
      min-width: 100%;
    }
    .socialMedia{
      display: none;
    }
  }