.private{
    width: 100%;
    margin-top: 70px;
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.private h1{
    color: var(--black-color);
}
.private form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
    margin: 0 auto;
}
.emailInput{
    padding: 10px;
    outline: none;
    font-size: 16px;
    width: 100%;
}
.pwdCon{
    position: relative;
}
.pwdConInput{
    padding: 10px 35px 10px 10px;
    outline: none;
    font-size: 16px;
    width: 100%;
}
.pwdCon p{
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.submitInput{
    padding: 15px;
    outline: none;
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--black-color);
    border: none;
    color: var(--white);
    font-weight: bolder;
}